#theForm {
    color: white;
    display: table;
    padding: 20px;
    background-color: blueviolet;
    border: solid 2px black;
 }
 
 .row {
    display: table-row;
 }
 .row label {
    display: table-cell;
    padding: 10px;
    text-align: right;
 }
 .row input {
    display: table-cell;
    padding: 10px;
 }